@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "VAG Rounded Regular";
    src: url('../../public/fonts/VAG-Rounded-Regular.ttf');
} */


/* @font-face {
    font-family: "VAG Rounded Bold";
    src: url('../../public/fonts/VAG-Rounded-Bold.ttf');
} */